@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
button:focus:not(:focus-visible) {
    --tw-ring-offset-width: 0px !important;
    box-shadow: none;
}
.focus\:ring-offset-2:focus{
    --tw-ring-offset-width: 0px !important;
}
.focus\:ring-2:focus{
    box-shadow: none !important;
}
@media (max-height:500px){
    body .guest-seaction {
        margin: 2rem !important;
    }
}